label {
  border-radius: 0.2em;
  margin-right: 2px;
  border: solid 1px gray;
}
input:checked + label {
  border-radius: 0.2em;
  margin-right: 2px;
  border: solid 1px red;
}
input[type="number"] {
  text-align: right;
}
input[type="checkbox"], input[type="radio"] {
  display: none;
}
div.row {
  border: solid 1px orange; 
  border-radius: 0.3em;
  margin-top: 3px;
  padding-top: 3px;
}
label {
  font-size: 16px;
  max-height: 60px;
}

/* すまほ対応 TODO box-sizingを使う */
@media screen and (min-width:960px){
  #toppings-main > label {
    width: 24%;
  }
}
@media screen and (max-width:960px){
  #toppings-main > label {
    width: 49%;
  }
}
